body {
  font-family: 'Melete', sans-serif;
  color: aliceblue;
  background-image: url('https://rawcdn.githack.com/Asuforce/official/50b147a8cbc27f116fb4e8a1a584b0fc6f9bcb76/img/background.jpg');
  background-size: cover;
}

a {
  color: aliceblue;
}

li {
  margin: 10px;
  font-size: 14px;
}

footer {
  font-size: 12px;
  margin-top: auto;
}

.title {
  font-size: 60px;
}

.sub_title {
  font-size: 18px;
}

.heading {
  font-size: 30px;
}

.black {
  background-color: black;
  padding: 2px;
}

.description {
  font-size: 16px;
}
