@font-face {
  font-family: 'Melete';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Melete'), local('Melete-Medium'),
    url(https://rawcdn.githack.com/Asuforce/official/4e4d2de1a00f37204db697b10e3a6ef7f8247b87/font/Melete-Medium.otf)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  font-family: 'Melete', sans-serif;
  color: aliceblue;
  background-image: url('https://rawcdn.githack.com/Asuforce/official/50b147a8cbc27f116fb4e8a1a584b0fc6f9bcb76/img/background.jpg');
  background-size: cover;
}

a {
  color: aliceblue;
}

li {
  margin: 10px;
  font-size: 14px;
}

footer {
  font-size: 12px;
  margin-top: auto;
}

.title {
  font-size: 60px;
}

.sub_title {
  font-size: 18px;
}

.heading {
  font-size: 30px;
}

.black {
  background-color: black;
  padding: 2px;
}

.description {
  font-size: 16px;
}
