doctype html
html lang="ja"
  head
    meta charset="UTF-8" /
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    meta content="ie=edge" http-equiv="X-UA-Compatible" /
    link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" /
    link href="img/favicon.ico" rel="icon" /
    title Whimweb
  body
    .container
      h1.display-3.text-muted Whimweb
      .card
        .card-header Here is sun / Shun Nishitsuji (@Asuforce) official site
        .card-body
          ul
            li
              a href="https://twitter.com/asuforce" Twitter
            li
              a href="https://www.facebook.com/shun.nishitsuji" Facebook
            li
              a href="https://github.com/Asuforce" GitHub
            li
              a href="https://qiita.com/Asuforce" Qiita
            li
              a href="http://b.hatena.ne.jp/asuforcegt/" Hatena Bookmark
            li
              a href="https://booklog.jp/users/asuforce" Booklog
            li
              a href="https://www.wantedly.com/users/8042334" Wantedly
            li
              a href="https://asuforce.hatenablog.com/" Whimlog
            li
              a href="https://asuforce.tumblr.com/" Whimshot
            li
              a href="https://scrapbox.io/asuforce/" Whimemo
            li
              a href="https://itunes.apple.com/profile/asuforce" Apple Music
            li
              a href="https://www.paypal.me/asuforce/" PayPal
      footer.blockquote-footer
        | Copyright (c)
        a href="https://twitter.com/asuforce" Shun Nishitsuji
        |  All rights reserved.
